html
{
	color: #ffffff;
	background-color: #000000;
	font-family: serif;
}

body
{
	margin: auto;
	width: 60%;
}

p
{
	text-align: justify;
}

blockquote
{
	border-left-style: solid;
	padding-left: 10px;
}

a:link, a:visited, a:hover, a:active
{
	/*color: #d28dff;*/
	color: #1cb0f6;
}
